.grid4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid: gap 8px;;
    background-color: rgb(151, 244, 171);
    padding: 6px;
    font-size: large;
    font-style:unset;
}

menu-main{
    background-color: rgb(221, 201, 239);
    color: rgb(188, 40, 40);
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
