.body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    background-color:#ffe6e6;
    font-family:Arial, Helvetica, sans-serif;
}

.background{
    background-image:url(../Img/grey-background-v1.jpg);
    border-image-repeat: round;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100%;
}



.bildet{
    height: 50%;
    border-radius: 25%;
    width: 75%;
    padding: 10px;
    margin: 30px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.ink {
    display: grid;
    background-color: #843059;
    grid-template-columns: repeat(4, 1fr); 
    grid-column: span;
    gap: 10px; 
    padding: 6px; 
    font-family:Arial, Helvetica, sans-serif;
}

.meny {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9f183; 
    color: #fff; 
    font-size: 30px; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    font-family:Arial, Helvetica, sans-serif;
}


.header {
    background-color: rgb(228, 231, 220);
    border-radius: 50%;
    border-style:groove ;
    color: #050600;
    padding: 10px;
    margin:auto;
    width: 90%;
    text-align: center;
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

.h1 {
    text-align: center;
    margin: 10px;
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif;
}

.header p {
    margin: 5px 0;
    font-family:Arial, Helvetica, sans-serif;
}

.article {
    margin: 20px 0;
    font-family:Arial, Helvetica, sans-serif;
}

.h2 {
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
}

.h22 {
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: solid;
}

.left-column{
    text-align:inherit;
    font-family:Arial, Helvetica, sans-serif;
}
.right-column{
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
}

.footer {
    background-color: #000000;
    color: #f5fcc5;
   display: flex;
   justify-content: space-around;
   padding: 20px 0;
   font-family:Arial, Helvetica, sans-serif;
}

.column {
    flex:1;
    padding: 0 20px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.column h3{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;

}

header h1 {
    margin: 0;
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
header p {
    margin: 5px 0;
    font-family:Arial, Helvetica, sans-serif;
}
.grid4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid: gap 8px;;
    background-color: rgb(151, 244, 171);
    padding: 6px;
    font-size: large;
    font-style:unset;
    font-family:Arial, Helvetica, sans-serif;

}

.my_main {
    background-color: rgb(252, 246, 246);
    font-family:Arial, Helvetica, sans-serif;
}

.wrap {
    justify-content:center;
    font-family:Arial, Helvetica, sans-serif;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, 290px);
    grid-row-gap: 60px;
    grid-column-gap: 30px;
    font-family:Arial, Helvetica, sans-serif;
}

.minicontent {
    margin: 15px;
    padding: 15px;
    border-radius: 20%;
    border-style:solid;
    border-width:1mm;
    background-color: rgb(210, 209, 209);
}

.div {
    display: block;
}

.incom {
    text-align: center;
    font-weight: bolder;
    color: #542179;
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
}
p {
    text-align:center;
    display: block;
    margin-block-start: 10px;
    margin-block-end: 1em;
    margin-inline-start:auto;
    margin-inline-end: 15px;
    font-family:Arial, Helvetica, sans-serif;
}
.h1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; 
    font-size: 60px;  
    font-family:Arial, Helvetica, sans-serif;
}
.h2 {
  
    color: rgb(0, 0, 0);
    display:flex;
    align-items: flex-start;
    justify-content: flex;
    font-family:Arial, Helvetica, sans-serif;
     
}

.h1-text {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

nav ul {
    background-color: #666567;
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    color: rgb(180, 3, 3);
    font-family:Arial, Helvetica, sans-serif;
}
nav ul li {
    font-family:Arial, Helvetica, sans-serif;
    display:inline;
    margin: 0 15px;
    padding: 20px;s
}

nav ul li a {
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    font-family:Arial, Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #fffd6d;
    font-size:large;
    text-align:right;

}

.edit2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
}

.edit22 {
     font-family:Arial, Helvetica, sans-serif;
     text-align: center;
     color: #8a2455;
     font-size: 25px;
}
