.body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    background-color:#ffe6e6;
    font-family:Arial, Helvetica, sans-serif;
}

.background{
   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.bildet{
    height: 50%;
    border-radius: 25%;
    width: 75%;
    padding: 10px;
    margin: 30px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
        
}

figure {
    text-align:center;
    font-size:20px;
    font-style: oblique;
    font-weight: bold;
    text-shadow: #050600;
    padding-bottom: 40px;

    

}
.ink {
    display: grid;
    background-color: #843059;
    grid-template-columns: repeat(4, 1fr); 
    grid-column: span;
    gap: 10px; 
    padding: 6px; 
    font-family:Arial, Helvetica, sans-serif;
}

.meny {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9f183; 
    color: #fff; 
    font-size: 30px; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    font-family:Arial, Helvetica, sans-serif;
}


.header {
    background-color: rgb(255, 204, 0);
    border-radius: 0%;
    color: #050600;
    padding: 10px;
    margin:auto;
    margin-top:90px;
    width: 60%;
    text-align: center;
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 90px;
}

.h1 {
    text-align: center;
    margin: 10px;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif;
}

.header p {
    margin: 5px 0;
    font-family:Arial, Helvetica, sans-serif;
}

.article {
    margin: 20px 0;
    font-family:Arial, Helvetica, sans-serif;
}

.left-column{
    text-align:inherit;
    font-family:Arial, Helvetica, sans-serif;
}
.right-column{
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
}

.footer {
   background-color: #f88808;
   color: #000000;
   display: flex;
   justify-content: space-around;
   padding: 20px 0;
   font-family:Arial, Helvetica, sans-serif;
}


.column {
    padding-top: 30px;
    flex:1;
    padding: 0 20px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.column h3{
    padding: 10px;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-right: 10px;

}

header h1 {
    margin: 0;
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
header p {
    margin: 5px 0;
    font-family:Arial, Helvetica, sans-serif;
}
.grid4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid: gap 8px;;
    background-color: rgb(151, 244, 171);
    padding: 6px;
    font-size: large;
    font-style:unset;
    font-family:Arial, Helvetica, sans-serif;


}

.my_main {
    background-color: rgb(252, 246, 246);
    font-family:Arial, Helvetica, sans-serif;
}

.wrap {
    justify-content:center;
    font-family:Arial, Helvetica, sans-serif;
}

.wrap {
    margin-top: 90px;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 290px);
    grid-row-gap: 60px;
    grid-column-gap: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

.minicontent {
    
    margin: 20px;
    padding: 15px;
    border-radius: 15%;
    border-style:unset;
    border-width:1mm;
    background-color: rgb(254, 254, 254);
    
}

.div {
    display: block;
}

.incom {
    text-align: center;
    font-weight: bolder;
    color: #542179;
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
}
p {
    text-align:center;
    display: block;
    margin-block-start: 10px;
    margin-block-end: 1em;
    margin-inline-start:auto;
    margin-inline-end: 15px;
    font-family:Arial, Helvetica, sans-serif;
}
.h1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; 
    font-size: 60px;  
    font-family:Arial, Helvetica, sans-serif;
}
h2 {
  
    color: rgb(0, 0, 0);
    margin-left: 40px;
    font-weight: bold;
    text-align: center;
    display:flex;
    align-items: flex-start;
    justify-content: flex;
    font-family:Arial, Helvetica, sans-serif;
     
}


.h22 {
    border-top: 1px solid black; 
    padding-top: 20px; 
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: solid;
}


.h1-text {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

nav ul {
    background-color: #f88808;
    list-style: none;
    padding: 15px;
    display: flex;
    justify-content: center;
    color: rgb(180, 3, 3);
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom:40px;
    margin-top: 40px;
    
}
nav ul li {
    font-family:Arial, Helvetica, sans-serif;
    
    display:inline;
    margin: 0 15px;
    padding: 20px;s
   
}

nav ul li a {
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
    
}

nav ul li a:hover {
    text-decoration: underline;
    font-family:Arial, Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
    font-size:large;
    text-align:right;

}

.edit2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: justify;
    line-height: 35px;
    margin: 20px;
    padding: 20px;
}

.edit22 {
     font-family:Arial, Helvetica, sans-serif;
     
     text-align: center;
     color: #8a2455;
     font-size: 25px;
}
#content {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.text-container p.hidden {
    display: none;
}

.tittel{
    font-size: 20px;
    font-weight: bold;
    
}
.Toppen {
    margin-left: 40px;
    margin-bottom: 80px;
    margin-top: 100px;
    font-size: 50px;
}



.accordion-item {
    margin-top: 50px;
    margin-bottom: 20px;
}

.accordion-title {
   font-size: 20px;
   font-weight: bolder;
   text-decoration: underline;
   font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding: 10px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
}

.accordion-content {
    text-align:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"]:checked + .accordion-title + .accordion-content {
    max-height: 1000px; 
}

.underline {
    border-bottom: 1px solid black; 
    width: 100%; /
    bottom: 0;
    left: 0;
}

